:root {
	--sitecolor: #1C6085;
	--sitebackgroundimg: url("");
	--siteoverlay: inset 100vw 0 0 0 rgba(0, 125, 255, 0.2);
	--bodycolor: white;
}

#masthead {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1)
}

#masthead a{
	font-weight: 600;
	text-transform: capitalize;
}

#masthead a:hover {
	text-decoration: underline;
}

#primary {
	margin-top: 0!important;
	padding-top: 0!important
}

h1{
	padding-top: 1rem!important;
}

h1 {
	text-align: center;
	position: relative;
	text-transform: capitalize;
	padding-top: 20px;
	background-repeat: repeat
}

h2 {
	padding: 5px;
	text-align: center;
	font-size: 33px!important
}

h3 {
	font-size: 30px!important
}

h4 {
	font-size: 20px!important
}

p {
	font-size: 17px;
}

.show-internal-navbar {
	text-decoration: underline;
	cursor: pointer;
}

#site-navigation a:hover {
	text-decoration: underline;
}

.passage,
.passage h2,
.passage-header,
section {
	border-radius: 5px 5px 0 0;
}

.passage h2{
	padding: 15px;
	text-shadow: 2px 2px #000;
	text-transform: capitalize;
	text-align: center;
	color: #fff!important;
	background-color: var(--sitecolor);
}

.passage {
	background-color: #fefefe;
	margin: auto;
	max-width: 1200px;
}

.passage-header {
	background-color: var(--sitecolor);
	background-repeat: repeat;
	padding-bottom: 10px;
}

.passage img {
	display: block;
	margin: auto;
}

.passage-body {
	padding: 0 20px;
	padding-bottom: 5px;
	margin-bottom: 10px;
  border-style: solid;
  border-color:  #f1f1f1;
	border-width: thin;
}

.passage-body {
	background-color: var(--passageColor)!important;
}

.passage-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

@media only screen and (max-width:600px) {
	.passage-body {
		padding: 0 5px;
	}
	h2 {
		font-size: 23px!important;
		padding: 5px;
	}
		.cover-hero h1{
		font-size: 25px!important;
}
		.cover-hero img{
		width: 80%;
}
}

#ReadMoreDiv {
	display: none;
}

.readMoreSection{
	display: none;
}

#readMoreLabel{
	border-style: solid;
	border-width: thin;
  border-color: var(--sitecolor);
	padding: 5px 10px; 
	border-radius: 5px;
	cursor: pointer;
	font-weight: 400;
	width: 120px;
}

#readMoreLabel:hover {
  background-color: var(--sitecolor);
	color: white;
}

a:hover {
	text-decoration: underline;
}

footer {
	background-color: var(--sitecolor)!important;
	margin-top: 5px!important;
	padding: 5px!important
}

footer ul li {
	list-style-type: none;
}

footer p{
	margin-left: 5%!important;
}

footer ul li::before {
	content: "- ";
}

footer a,
footer div {
	color: #fff!important;
	font-weight: 600;
	text-shadow: 1px 1px #000;
}

footer ul,
p {
	text-align: left;
}

.review-p {
	padding: 20px;
}

.review-img {
	display: block;
	margin: 30px auto;
	border-radius: 10%
}

.faq-h {
	text-align: center;
	text-transform: capitalize;
	background-color: #fff;
	color: var(--sitecolor)!important;
	text-shadow: 2px 2px gray;
}

.faq-h::first-letter {
	font-size: 120%;
}

.schema-faq-code {
	border: 1px solid #dedee0;
	border-radius: 10px;
	overflow: hidden
}

.schema-faq-code .faq-q {
	font-size: 18px;
	font-weight: 700;
	margin: 15px;
	padding: 12px 56px 12px 12px;
	line-height: 1.4;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #dedee0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.faq-q:after {
	content: "+";
	position: absolute;
	top: 50%;
	right: 0;
	width: 56px;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-weight: 700;
	color: #000;
	font-size: 20px;
}

.faq-q.faq-q-open:after {
	content: "-";
}

.faq-a {
	margin: 15px;
	padding: 0 56px 12px 12px;
	background-color: rgba(222, 16, 38, );
	line-height: 1.4;
	border-bottom: 1px solid #dedee0;
	display: none;
}

.schema-faq-code .faq-question:last-child .faq-a {
	border-bottom: 0;
}

.faq-question h3 {
	font-size: 25px!important;
}

.center-text {
	text-align: center;
}

@media only screen and (min-width:999px) {
	
		.top-list-table td:nth-child(1) {
  width:15%;
}
	
		.top-list-table td:nth-child(2) {
  width:30%;
}
		.top-list-table td:nth-child(3) {
  width:30%;
}

	.top-list-table td:nth-child(4) {
  width:20%;
}
	
}

@media only screen and (min-width:900px) {
	h1 {
		font-size: 40px!important;
	}
}

.admin-quick-add {
	background-color: #ddd;
	padding: 15px;
	margin-bottom: 15px;
}

.admin-quick-add input,
.admin-quick-add textarea {
	width: 100%;
	border: none;
	padding: 10px;
	margin: 0 0 10px 0;
	box-sizing: border-box;
}

.admin-quick-add textarea {
	border-style: solid;
	border-color: red
}

.admin-quick-add [name=firstParagraphContent] {
	border-color: green;
}

.admin-quick-add [name=faqContent] {
	border-color: #00f;
}

.top-list-table thead {
	display: none;
}

.top-list-table tr {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 11px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	background-color: white;
}

.top-list-table, .top-list-table td{
	border-style: none;
}

.bonusTD,
.imgTD {
	display: flex;
	align-items: center;
	align-content: center;
}

.imgTD {
	border-radius: 5px;
}

 .imgTD a{
	 display: flex;
	 width: 250px;
	 height: 80px;
	  margin: auto;
  }

.imgTD img{
	display: block;
  	margin:auto;
	max-height: 80px!important;
}

.tableConsList{
	font-size: 17px;
}

.tableConsList ul {
	margin: auto;
	list-style-type: none;
	text-transform: capitalize;
}

/*.tableConsList{
	font-weight: 600;
}*/

.tableConsList li::before {
	content: "✓ ";
	font-weight: bold;
	color: green;
}

.ctaTD {
	
	display: flex;
	flex-flow: column;
	justify-content: center;
  	align-items: center;
}

.ctaTD a {
	margin: auto;
	margin: 4px 0px !important;
	text-align: center;
}

.ctaAnchor{
	text-transform: uppercase;
	min-width: 180px;
	text-align: center;
	padding: 13px!important;
	font-size: 17px;
	font-weight: 900;
	text-shadow: 1px 1px darkgreen;
}

.ctaAnchor::after {
	content: " »"
}

.ctaTD a:first-child {
	padding: 9px 15px 9px 15px;
	color: #fff!important;
	width: 100%;
	margin-top: auto;
	background-color: #39b54a;
	border-radius: 7px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3), 0 5px 15px 0 rgba(0, 0, 0, .3)
}

.bonusTD {
	font-weight: 900;
	color: tomato;
	font-size: 120%;
	text-transform: uppercase;
	 text-align: center!important;
	display: block;
	margin: auto;
}

.top-list-table a:hover {
	text-decoration: underline
}

@media only screen and (max-width:1000px) {
	
	.top-list-table tr {
		flex-direction: column
	}
	.top-list-table tr td:not(.tableConsList) {
		display: flex;
		text-align: center;
		align-items: center;
		align-content: center;
	}
	.ctaTD {
		flex-direction: column-reverse;
	}
}

.floating-btn {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #0c9;
	color: #fff!important;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	font-size: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

@media only screen and (max-width:600px) {
	
	.floating-btn {
		position: fixed;
		width: 55px;
		height: 55px;
		bottom: 20px;
		right: 20px;
		font-size: 21px;
	}
	h3 {
		font-size: 19px!important;
	}
	.faq-question h3 {
		font-size: 19px!important;
	}
}

.navBarContainer {
	padding-left: 5px;
	padding-top: 5px;
}

section:nth-child(odd) {
  background: #F1F5F5;
}

section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.disclaimer{
  color: red;
  text-align: center;
}

.listDisclaimerText{
	text-align: center;
	font-weight: bold;
}

/* Featured post image */
.post-thumb-img-content img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Post article styling */
.wp-block-latest-posts__list li{
	background-color: white!important;
  border-style: solid;
  border-color: #e5e4e2;
	border-width: thin;
	border-radius: 5px!important;
	-webkit-box-shadow: 4px 5px 5px -2px graytext!important; 
box-shadow: 4px 5px 5px -2px graytext!important;
	padding-left: 10px;
	padding-right: 10px;

}

.wp-block-latest-posts__list{
	  display: flex;
  justify-content: center;
  align-items: center;	
}

.coming-soon{
  opacity: 0.4;
	pointer-events: none;
	cursor: not-allowed;
}

.coming-soon-text{
	text-align: center;
}

/* Promo styling */
.tableConsList .promo-code-offer::before{
	content: "🎁 Promo: "
}

.promo-code-offer{
	border: 4px dotted #bbb;
  border-radius: 11px;
	text-align: center;	
  background-color: #F1F8FF;
  font-weight: 600;
}

/***** Pulse *****/

.promo-code-offer:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}

.ctaAnchor:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.cover-hero div{
max-width: 1200px;
}

.cover-hero{
  border-bottom: 2px solid gray;
}

.cover-hero h1, .cover-hero p{
	  text-shadow: 2px 2px black;
color: white!important;
}

.cover-hero h1{
text-align: center;
}

.cover-hero p{
	  font-size: 21px!important;
}

.cover-hero img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* FLOATING REVIEW CTA BUTTON CSS*/

#floating-review-cta-button{
	background-color: #355e3b;
	padding:10px;	
	color: white;
	text-align: center;
}

#floating-review-cta-button{
	position: fixed;
	bottom: 0px;
	z-index: 101!important;
	right: 0%;
	left:0%;
	padding: 0px!important;
	box-shadow: 0 -10px 40px -30px #333;

}

#floating-review-cta-button li{
 list-style: none;
	width: 70%;
	margin: 0;
	margin-left: auto!important;
	margin-right: auto!important;
	
}

#floating-review-cta-button p{
	  text-align: center;
	  color: white;
	margin: 0 auto;
	  text-shadow: 1px 1px black;
	font-weight: 600;
	  text-transform: uppercase;
}

/* Promo styling */
#floating-review-cta-button .promo-code-offer::before{ content: "🎁 Exclusive Promo: "
}

#floating-review-cta-button .promo-code-offer{
	/*
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
	*/
}

.current-bonus-text{
	color: orange;
}

.current-brand-img{
width: 6%;
	margin: 2px;
}

#promoList{
	color: orangered;
	text-shadow: 0px 0px black;
}

@media only screen and (max-width: 1200px) {
	
#floating-review-cta-button{
 font-size: 75%!important;
}

#floating-review-cta-button p{
	font-size: 13px!important;
	font-weight: 500;
}
	
#floating-review-cta-button .current-brand-img{
width: 17%!important;
}

}

.legal-disclaimer{
	background-color: green;
	color: white;
	padding: 7px;
	text-align: center;
	font-size: 130%;
	font-weight: 600;
}

.legal-disclaimer span{
	text-decoration: underline;
	font-weight: 900;
}

.bonusTD{
	display: flex!important;
  flex-direction: column!important;
}

.bonusTD .operator-name{
color: black;
	font-size: 15px;
  font-weight: normal;
	text-transform: capitalize;
  color: #36454f;
}

.tableSectionRow td:not(.imgTD){
	margin: auto 0;
}
