:root {
  --sitecolor: #003366;
}

#masthead{
	  position: -webkit-sticky; /* Safari */
	position: sticky;
  top: 0;
  width: 100%;
	color: white;
}


#masthead + div{
background-color: --sitecolor: #003366;
}

section{
	padding-top: 10px;
	padding-bottom: 10px;
}

.passage{
  	width: 100%;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 5px;
	border-style: outset;
	margin-bottom: 10px;
	border-radius: 7px;
}

footer{
color: gray;
background-color: var(--sitecolor);
}
